# coverage reports
coverage

# API keys and secrets
.env

# dependency directory
node_modules

# OS metadata
.DS_Store
Thumbs.db

# ignore built ts files
dist/**/*

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

## local jistory for vscode
.history/

## built vscode extensions
*.vsix

# Archivos generados por TypeScript
*.js
*.js.map
tsconfig.tsbuildinfo

# Carpeta de salida
dist/

# Archivos de pnpm
.pnpm-workspace-state.json

# node_modules (nunca se sube)
node_modules/
